<h1 class="text-login">LOGIN</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= link_to "forgot_password", "#" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline mgl-20" do %>
        <%= f.check_box :remember_me %>
        <span> "remember_me" </span>
      <% end %>

      <%= f.submit "login", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
