<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3><%= t "report" %></h3>
    </div>

    <div class="">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group">
        <%= form_for :user_report, url: user_reports_path, method: :post do |f| %>
          <div class="form-group row">
            <%= f.label :subject_id, t("subject_name"),
              class:"control-label col-md-3 col-sm-3 col-xs-12" %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.collection_select :subject_id, Subject.all, :id, :name,
              class: "form-control field-input" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :start_date, t("start_date"),
              class:"control-label col-md-3 col-sm-3 col-xs-12" %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.date_field :start_date, class: "contact_input" %>
              </div>
          </div>
          <div class="form-group row">
            <%= f.label :end_date, t("end_date"),
              class:"control-label col-md-3 col-sm-3 col-xs-12" %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.date_field :end_date, class: "contact_input" %>
              </div>
          </div>
          
          <div class="clearfix"></div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <%= f.submit t("submit"), class: "btn btn-success submit-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">

        <div id="modal-holder"></div>

        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th class="column-title">
                  <%= t "name_subject" %>
                </th>
                <th class="column-title">
                  <%= t "created_at" %>
                </th>
                <th class="column-title">
                  <%= t "title" %>
                </th>
                <th class="column-title no-link last"><span class="nobr">
                  <%= t "view_detail_report" %>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @user_reports.each do |user_report| %>
                <tr class="even pointer">
                  <td>
                    <%= hidden_field_tag "user_report_id", user_report.id %>
                    <%= user_report.get_subject.name %>
                  </td>
                  <td>
                    <%= user_report.created_at %>
                  </td>
                  <td>
                    <%= user_report.title %>
                  </td>
                  <td class="last">
                    <%= button_tag t("view_detail_report"), type: "button", class:"btn btn-primary btn-modal-view-report",
                      data: {id: user_report.id} %>
                    <%= render "view_detail" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if current_user.isTrainee %>
            <%= link_to t("create"), new_user_report_path, class: "btn btn-success",
              data: {turbolinks: false} %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
