<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3><%= t "current_subject" %></h3>
    </div>

    <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
      <input type="text" class="form-control" placeholder=<%= t "search" %>>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <%= t "search_course" %>
        </button>
      </span>
      </div>
    </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">

        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th class="column-title">
                  <%= t "name" %>
                </th>
                <th class="column-title">
                  <%= t "detail" %>
                </th>
                <th class="column-title">
                  <%= t "category" %>
                </th>
                <th class="column-title">
                  <%= t "status" %>
                </th>
                <th class="column-title"><span class="nobr">
                  <%= t "action" %>
                  </span>
                </th>
                <th class="column-title no-link last"><span class="nobr">
                  <%= t "action" %>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @subjects.each do |subject| %>
                <%= form_for subject, url: subject_path(subject), method: :patch do |f| %>
                  <tr class="even pointer">
                    <td class=" ">
                      <%= hidden_field_tag "subject_id", subject.id %>
                      <%= subject.name %>
                    </td>
                    <td class=" ">
                      <%= subject.detail %>
                    </td>
                    <td class=" ">
                      <%= subject.get_category %>
                    </td>
                    <td class=" ">
                        <%= radio_button_tag :status, "0", subject.active?,
                          class: "update-subject", data: {id: subject.id} %>
                        <%= label_tag :category_0, "Active", class: "field-label" %>
                        <br>
                        <%= radio_button_tag :status, "1", subject.unactive?,
                          class: "update-subject", data: {id: subject.id} %>
                        <%= label_tag :category_1, "Unactive" ,class: "field-label" %>
                    </td>
                    <td class=" ">
                      <%= link_to t("view_subject"), user_subject_path(subject.id) %>
                    </td>
                    <td class="last">
                      <%= link_to t("edit_subject"), edit_subject_path(subject.id) %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <%= link_to t("back"), root_url, class: "btn btn-primary col-md-1 col-sm-1 col-xs-3" %>
          <%= link_to t("create"), new_subject_path,
            class: "btn btn-success col-md-1 col-sm-1 col-xs-3" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
