<!DOCTYPE html>
<html>
  <head>
    <title>RailsTrainingSystem01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <% if user_signed_in? %>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%= render "layouts/sidebar" %>
        <%= render "layouts/top_nav" %>
        <div class="right_col" role="main">
          <%= yield %>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
    <%= render "layouts/custom_notifications" %>
  </body>
  <% else %>
  <body style="background: #F7F7F7">
    <%= yield %>
  </body>
  <% end %>
</html>
