<!DOCTYPE html>
<html>
  <head>
    <title>RailsTrainingSystem01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="container body">
      <div class="main_container">
        <%= render "layouts/sidebar" %>
        <%= render "layouts/top_nav" %>
        <div class="right_col" role="main">
          <%= yield %>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
    <%= render "layouts/custom_notifications" %>
  </body>
</html>
